# .gitignore

# exclude File
/bootstrap.php
/server*.php
/composer.lock
/note.md

# exclude File Dot
.DS_Store
/.aws
/.amazonq
/.vscode
/.htaccess
/.env*
/.tmp

# exclude directory
/bin
/vendor
/config